@font-face {
    font-family: 'caveat';
    src: url('https://fonts.gstatic.com/s/caveat/v18/Wnz6HAc5bAfYB2Q7YjYYiAzcPDKo.woff2') format('woff2');
}

.logo-text {
    font-family: 'caveat';
    font-size: 3em;
    text-decoration: none;
    margin-bottom: 1%;
}

.phone-container {
    padding-right: 3%;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3%;
    border-bottom: 2px #785237 solid;
    font-size: 1.2em;
}

body {
    background-color: #ebebeb;
    font-family: sans-serif;
    color: #856a4f;
    margin: 0;
    padding: 0;
}

.book {
    display: none;
}

a {
    color: #856a4f;
    text-decoration: none; !important
}

a:hover {
    color: #d2b6a0;
}

a:visited {
    color: #d2b6a0;
}

.social {
    display: none;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-item {
    padding: 2% 5% 2% 5%;
    font-size: 4.5vw;
}

.text {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

.glass {
    -webkit-backdrop-filter: blur(8px);  /* Safari 9+ */
    backdrop-filter: blur(8px); /* Chrome and Opera */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color: rgb(228 228 228 / 15%);
    width: 80%;
    height: 100vw;
    border-radius: 20px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.promo {
    font-size: 4vw;
    font-weight: 50;
}

h1 {
    font-size: 6vw;
    font-weight: 50;
    margin-top: 0;
}

a:hover {
    color: #d2b6a0;
}

.offers-h1 {
    font-size: 10vw;
}

.text-element {
    margin-bottom: 20%;
}

.glass-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vw;
    background-image: url("https://static.tildacdn.com/tild3635-6363-4636-b764-643236336531/_5_.png");
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin-top: 30%;
}



.feedback {
    margin: 15% 0 10% 0;
}

button:hover {
    background-color: #d2b6a0;
}

.centered {
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
}

/* Hide the images by default */
.mySlides {
  display: none;
  justify-content: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  color: black;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.caption-text {
  font-size: 3.5vw;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 90%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: black
  font-size: 12px;
  position: absolute;
  top: 0;
  margin-bottom: 10%;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 2vw;
  width: 2vw;
  margin: 0.5vw;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: black;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

footer {
    margin: 0% 5% 0% 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-top: 2px #785237 solid;
}

.copyright {
    display: flex;
    justify-content: center;
    color: black;
    background-color: #ccc4c2
}

.fa-star {
    font-size: 4vw;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.italic {
    font-style: italic;
    font-size: 4vw;
}

.quote-end {
    font-size: 4vw;
}

.quote-container {
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.offers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5%;
}

.offers-element {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.offer {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    background-color: #ccc4c2;
    border-radius: 15px;
    padding: 8%;
    width: 75vw;
    height: 50vw;
    margin: 0% 8% 8% 8%;
    background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/d432c894294119.5e824b610faa1.png");
}

.offer:hover {
    animation-name: myanimation;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.offer {
    animation-name: reverse;
    animation-duration: 0.5s;
}

.offer-text {
    font-size: 7vw;
    color: white;
}


@keyframes myanimation {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

@keyframes reverse {
    from {
        transform: scale(1.1);
    }
    to {
        transform: scale(1);
    }
}

.contact {
    background-color: #d2b6a0;
    color: black;
    padding: 5% 10% 5% 10%;
    margin-bottom: 5%;
}

.contact-text {
}

.mobile-centered {
    display: flex;
    justify-content: center;
}


.contact-text-element {
    font-size: 5vw;
    font-weight: 200;
    color: black;
}

.contact-text-element:hover {
    color: black;
}

.contact-social:hover {
    color: #856a4f;
}

iframe {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    width: 100%;
    margin-top: 10%;
}




