* {
    -webkit-font-smoothing: antialiased;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.demos {
    text-align: center;
    margin: 3% 0 5% 0;
}

.demo-image {
    cursor: url("http://tholman.com/intense-images/img/plus_cursor.png") 25 25, auto;
    display: inline-block;
    width: 220px;
    height: 220px;
    background-size: cover;
    background-position: 50% 50%;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 16px;
}
.demo-image.first {
    background-image: url("images/promo1.png");
}

.demo-image.second {
    background-position: 50% 10%;
    background-image: url("images/promo2.png");
}

.demo-image.third {
    background-position: 50% 10%;
    background-image: url("images/promo3.png");
}

.demo-image.fourth {
    background-position: 50% 10%;
    background-image: url("https://thumb.tildacdn.com/tild3863-3166-4833-b535-656363303266/-/format/webp/EnLJ3cO5uyU.jpg");
}


